.image{
    background-image:url("https://www.weightwatchers.com/be/sites/be/files/styles/wwvs_default_image/public/article_masthead/fruit_720x370_0.jpg?itok=PYqu7Iko");
    width:100%;
    height:400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nom{
color:white;
font-size: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
position: center;
padding-top:150px;
padding-left:300px;
}
/*h1{
    font-size:40px;
}*/
.titre{
    color: grey;
    font-size: 400%;
    margin-left: 15%;
    font-weight:bold;
    font-family: 'Lucida Sans';
}
.first{
    margin-left:150px;
}
.t1{

    background-color:rgba(173, 173, 173, 0.952) ;
    width: 30%;
    height:250px;
    text-align: justify;
    padding-top: 50px;
    padding-right:50px;
    padding-left: 50px;
    padding-bottom: 50px;
    display: inline-block;
    /*margin-right: 5px;
    margin-left: 15%;*/
    margin-left:50px;
    overflow: hidden;
}
.t1:hover, .t3:hover{
    outline: 6px solid rgb(0, 0, 0);
    outline-offset: -3px;
}
.second{
    margin-left:150px;

}
.yes{
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.no{
    color: white ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.t3{

    background-color: gray ;
    width: 30%;
    height:250px;
    text-align: justify;
    padding-top: 50px;
    padding-right:50px;
    padding-left: 50px;
    padding-bottom: 50px;
    display: inline-block;
    /*margin-right: 5px;
    margin-left: 15%;*/
    margin-left:50px;
    overflow: hidden;
}
.third{
    margin-left:150px;
}

